.detail-form {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
}
.column {
	float: left;
	width: 50%;
	padding: 20px; 
}
.detail-form:after {
	content: "";
 	display: table;
	clear: both;
}
input[type=text] {
	width: 100%;
	padding: 10px 15px;
	background-color: #fff;
}
textarea {
	width: 100%;
	padding: 10px 15px;
}
@media (max-width: 1200px){
	.column {
	padding-left: 0; 
}
}