.now {
	color: rgba(255, 255, 255, 0.5);
}

.container {
	padding: 10px;
	border-radius: none;
	box-shadow:none;
}
.car-ad {
	margin-bottom: 60px;
	border: 1px solid #ccc;
	height: 360px;
	padding: 5px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px black;
}

.column {
	float: left;

	padding: 5px; 
}
.left {
	padding-top: 0px;
}

.right {
	width: 70%;
	height: 100%;
}
.right img {
	float: left;
	width: 33.333%;
	padding: 3px;
}
.detail-form {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
	height: 200px;
}
.btn {
	font-size: 15px;
	margin: 10px 0; 
}
.edit{
	background-color: #FA8072;
	margin-right: 20px;
}
.sold {
	background-color: #458B00;
}
button a {
	color:white;
}
@media (max-width: 1127px){
	.car-ad {
		height: 360px; 
	}
	.btn {
		padding: 0;
		width: 100px;
	}
	.right {
		width: 62%;
		padding: 0;
	}
	.left p {
		font-size: 10px;
	}
	.left h3 {
		font-size: 10px;
		padding: 0;
	}
	.container {
		width: 80%;
	}
}
