header {
	height: 50px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
	position: fixed;
	top: 0;
	z-index: 10;
}
a{
	text-decoration: none;
	display: block;
}

.header-left {
	float: left;
}
.header-right {
	float: right;
	
}
.header-right ul, .brands ul, footer ul{
	list-style: none;
}

.header-right ul li, .brands ul li{
	float:left;
}

.header-right ul li a, footer a{
	text-decoration: none;
	display: block;
	padding: 0 25px;
	color: white;
}
.header-right ul li a:hover, .header-left a:hover {
	color: rgba(255, 255, 255, 0.5);
}
.now {
	color: rgba(255, 255, 255, 0.5);
}
.header-left a {
	color: white;
	text-decoration: none;
	line-height: 65px;
	padding: 0 25px;
	display: block;
	font-weight: 300;
    color: white;
    font-size: 20px;
}

.container {
	margin-top: 80px;
	padding: 10px;
	border-radius: none;
	box-shadow:none;
}
.car-ad {
	margin-bottom: 60px;
	border: 1px solid #ccc;
	height: 360px;
	padding: 5px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px black;
}
.top {
	background-color: #55acee;
	color : white;
	padding: 10px;
}
.column {
	float: left;

	padding: 20px; 
}
.right {
	width: 70%;
	border-right: 1px solid #ccc;
	height: 100%;
}
.detail-form {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
	height: 200px;
}
.btn {
	font-size: 15px;
	margin: 10px 0; 
}
.edit{
	background-color: #FA8072;
	margin-right: 20px;
}
.sold {
	background-color: #458B00;
}
button a {
	color:white;
}
