.container {
	height: 420px
}

.purchase {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
}
input[type=text] {
	width: 300px;
	padding: 10px 15px;
	background-color: #fff;
}

.sell {
	background-color: rgb(224, 77, 54);
	margin-right: 10px;
}
.call {
	background-color: green;
}
