* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;

	background-color: rgba(0,0,0,.45);
}
h2 {
	color:;
	font-weight: normal;
}

.container {
	margin: 0 auto;
	width: 60%;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px black;
	height: 420px
}
.top {
	background-color: #55acee;
	color : white;
	padding: 10px;
}
.purchase {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
}
input[type=text] {
	width: 300px;
	padding: 10px 15px;
	background-color: #fff;
}
.btn {
	border: none;
	width: 200px;
	background-color: #55acee;
	border-radius: 2px;
	color: white;
	font-family: sans-serif;
	height: 32px;
	margin: 20px 0; 
}
.sell {
	background-color: rgb(224, 77, 54);
	margin-right: 10px;
}
.call {
	background-color: green;
}
.button {
	float: right;
}