body {
	font-family: "sans-serif";
	margin: 0;
}

* {
	box-sizing: border-box;
	}
h2 {
	font-weight: normal;
}
a{
	text-decoration: none;
	display: block;
}

.search-top {
	padding: 65px 0 10px 0;
	background-color: rgba(34, 49, 52, 0.6);
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.main {
	margin: 0 auto;
	width: 80%;
	background-color: white;	
	border-radius: 4px;

}
.top-part {
	border: 1px solid #ccc;
	margin-top: 80px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	padding-bottom: 10px;
	background-color: #F2F2F2;
}
.f-container ul {
	height: 100%
}

.f-container li {
	float :left;
	padding-bottom: 10px;
	padding-right: 8px;

}
.f-container {
	height: 50px;
	width: 100%;
	background-color: #F2F2F2;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 20px;

}
.search-top input {
	height: 30px;
	padding-left: 10px;
	width: 600px;
	border-radius: 4px;
}
.search-top label {
	color: white;
	font-size: 20px;
	
}
.f-container input, select {
	font-size: 15px;
	height: 30px;
	width: 200px;
}

.button {
	margin-top: 30px;
}
.btn {
	
	border: none;
	width: 120px;
	background-color: #55acee;
	border-radius: 2px;
	color: white;
	opacity: 0.8;
	font-size: 15px;
	height: 32px; 
}
.btn:hover {
	opacity: 1;
}
.ser {
	background-color: #3b5998;
}
.del {
	background-color: #dd4b39;
}

.heading {
	padding: 10px;
}

.vehicle-part {
	height: 1150px;
	background-color: #F2F2F2;
	border-radius: 4px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.vehicle-icon:hover {
	box-shadow: 0 1px 2px 1px #ccc;
}
.vehicle-icon {
	float: left;
	width: 30%;
	position: relative;
	height: 320px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0,47,52,.2);
	margin: 0 12px;
	margin-bottom: 40px;
}

.veh-image {
	height: 220px;
	background-color: #cccccc;  
  	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
}

.vdetail{
	padding-left: 5px;
	text-align: left;
}
p {
	margin: 5px;
}
.vbottom p span{
  font-size: 20px;
  font-weight: 600;
}
.veh-price {
	float: left;
	width:30%;
	padding-top: 14px;
}
.price{
	padding:5px;
}
.veh-button{
	float: right;
	padding: 5px;
}
.a {
  background-image: url("./scar/premio.jpg"); 
 
}
.b {
  background-image: url("./scar/Subaru.jpg"); 
 
}
.c {
  background-image: url("./scar/landcruiser.jpg"); 
 
}
.d {
  background-image: url("./scar/benz m-class.jpg"); 
 
}
.e {
  background-image: url("./scar/murano.jpg"); 
 
}
.f {
  background-image: url("./scar/hilux.jpg"); 
 
}
.g {
  background-image: url("./scar/harier.jpg"); 
 
}
.h {
  background-image: url("./scar/vellfire.jpg"); 
 
}
.i {
  background-image: url("./scar/mitsbishu.jpg"); 
 
}
.report {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	color: rgba(255, 0, 0, 0.8);
}
.report:hover {
	color: rgba(255, 0, 0, 1);
}
.pur{
	color:white;
}

 ul{
	list-style: none;
}

@media screen and (max-width: 1300px) {
	.vehicle-icon {
		height:250px;
		margin-bottom: 20px
	}
	.btn{
		height: 20px;
	}
	.price{
	padding:0;
}
   .veh-button{
 	 	float: left;
 	 	padding: 0;
  }

}
@media screen and (max-width:1000px) {
	  .vehicle-part {
		height: 160rem;
	}
}
@media screen and (max-width: 900px) {
	.vehicle-icon {
		width: 200px;
		margin-bottom: 20px
	}
	.btn{
		height: 20px;
	}
	.search-top{
		padding-left: 0;
		padding-top: 0;
		text-align: none;
	}
	.search-top input {
		height: 20px;
		padding-left: 0;
		width: 300px;
	}
	.search-top label {
		font-size: 15px;
	
	}
	.form-container {
		height: 250px;
	}
	.search-bottom {
		margin: 0 auto;
		width: 100%;
		height: 250px;
		padding-left: 5px;
		padding-top: 5px;

	}
	.make {
		float: left;
		margin-right: 50px;
	}
}


