body {
	font-family: "sans-serif";
	margin: 0;
}

* {
	box-sizing: border-box;
	}
h2 {
	font-weight: normal;
}
a{
	text-decoration: none;
	display: block;
}

.search-top {
	padding: 60px 0 10px 0;
	background-color: rgba(34, 49, 52, 0.6);
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.main {
	margin: 0 auto;
	width: 80%;
	background-color: white;	
	border-radius: 4px;

}
.top-part {
	border: 1px solid #ccc;
	margin-top: 80px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
}

.search-bottom {
	margin: 0 auto;
	width: 100%;
	height: 200px;
	padding-left: 250px;
	padding-top: 10px;
	background-color: #F2F2F2;
}
.make {
	float: left;
	margin-right: 80px;
}
.search-top input {
	height: 30px;
	padding-left: 10px;
	width: 600px;
	border-radius: 4px;
}
.search-top label {
	color: white;
	font-size: 20px;
	
}
.make input {
	height: 30px;
	width: 200px;
}
.pri input {
	height: 30px;
	width: 80px;
	margin-right: 10px;	
}
.button {
	margin-top: 45px;
}
.btn {
	
	border: none;
	width: 120px;
	background-color: #55acee;
	border-radius: 2px;
	color: white;
	opacity: 0.8;
	font-size: 15px;
	height: 32px; 
}
.btn:hover {
	opacity: 1;
}
.ser {
	background-color: #3b5998;
}
.del {
	background-color: #dd4b39;
}

.form-container {
	height: 200px;
	width: 100%;
	margin-bottom: 5px
	border: 3px solid #f1f1f1;
	background-color: white;
}

.heading {
	padding: 10px;
}

.vehicle-part {
	height: 800px;
	background-color: #F2F2F2;
	border-radius: 4px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.vehicle-icon:hover {
	box-shadow: 0 1px 2px 1px #ccc;
}
.vehicle-icon {
	float: left;
	width: 30%;
	position: relative;
	height: 200px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0,47,52,.2);
	margin: 0 12px;
	margin-bottom: 40px;
}

.veh-image {
	height: 130px;
	border-bottom: 1px solid #ccc;
}
.veh-bottom {
	padding: 5px;
}
.veh-price {
	float: left;
	width:30%;
}
.price{
	padding:5px;
}
.veh-button{
	float: right;
	padding: 5px;
}
.report {
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	color: rgba(255, 0, 0, 0.8);
}
.report:hover {
	color: rgba(255, 0, 0, 1);
}
.pur{
	color:white;
}

 ul{
	list-style: none;
}
