.container {
	height: 380px;
}

.column {
	float: left;

	padding: 20px; 
}


input[type=text] {
	height: 35px;
	width: 100%;
	background-color: #fff;
}
.new {
	padding-top: 10px;
}

.right {
	width: 70%;
	border-right: 1px solid #ccc;
	height: 100%;
}
.detail-form {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
	height: 200px;
}
.btn {
	font-size: 15px;
	margin: 10px 0; 
}
.sold {
	background-color: #458B00;
}

@media (max-width: 1300px){
	.column {
		padding: 0;
	}
	.btn {
		padding: 0;
		width: 100px;
	}
	.right {
		width: 50%;
	}
}
@media (max-width: 640px){
	.container {
		height: 500px;
	}
	.right {
		border-right: none;
	}
}