* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;

	background-color: rgba(0,0,0,.45);
}
h2 {
	color:;
	font-weight: normal;
}
.container {
	margin: 0 auto;
	width: 60%;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 1px 1px 1px black;
	height: 380px;
}
.top {
	background-color: #55acee;
	color : white;
	padding: 10px;
}
.column {
	float: left;

	padding: 20px; 
}


input[type=text] {
	height: 35px;
	width: 150px;
	background-color: #fff;
}
.new {
	padding-top: 10px;
}

.right {
	width: 70%;
	border-right: 1px solid #ccc;
	height: 100%;
}
.detail-form {
	background-color: #F4F6F6;
	padding: 10px;
	margin-bottom: 10px;
	height: 200px;
}
.btn {
	border: none;
	width: 200px;
	background-color: #55acee;
	border-radius: 2px;
	color: white;
	font-family: sans-serif;
	height: 32px;
	font-size: 15px;
	margin: 10px 0; 
}
.edit{
	background-color: #FA8072;
	margin-right: 20px;
}
.sold {
	background-color: #458B00;
}

.buttons {
	float: right;
}